<p>This a universis starter application.</p>
<button (click)="getUser()"> Get Instructor </button>
<button (click)="createNewEvent()"> New Event </button>
<button (click)="getEvents()"> Get Events </button>
<button (click)="getClassEvents()"> Get Class Events </button>
