<div>
  <div class="modal-header" *ngIf="modalTitle">
    <h5 class="modal-title">{{modalTitle | translate}}</h5>
    <button (click)="cancel()" [disabled]="loading"
            type="button" class="close" data-dismiss="modal" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0">
    <div class="row">
      <div class="col-12">
        <ng-container>
          <advanced-form-edit #formComponent></advanced-form-edit>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button [disabled]="okButtonDisabled || loading " (click)="ok()"
            type="button" [ngClass]="okButtonClass">
      {{'OK' | translate}}
    </button>
    <button [disabled]="cancelButtonDisabled || loading"
            (click)="cancel()" type="button" [ngClass]="cancelButtonClass" data-dismiss="modal">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
